<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="keywords" content="admin, dashboard, bootstrap, template, flat, modern, theme, responsive, fluid, retina, backend, html5, css, css3">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="#" type="image/png">
    <title>AdminX</title>
    <!--icheck-->
    <link href="/static/admin/js/iCheck/skins/minimal/minimal.css" rel="stylesheet">
    <link href="/static/admin/js/iCheck/skins/square/square.css" rel="stylesheet">
    <link href="/static/admin/js/iCheck/skins/square/red.css" rel="stylesheet">
    <link href="/static/admin/js/iCheck/skins/square/blue.css" rel="stylesheet">
    <!--data table-->
    <link rel="stylesheet" href="/static/admin/js/data-tables/DT_bootstrap.css" />
    <!--dashboard calendar-->
    <link href="/static/admin/css/clndr.css" rel="stylesheet">
    <!--common-->
    <link href="/static/admin/css/style.css" rel="stylesheet">
    <link href="/static/admin/css/style-responsive.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
  <script src="/static/admin/js/html5shiv.js"></script>
  <script src="/static/admin/js/respond.min.js"></script>
  <![endif]-->
  {% block style %}{% endblock %}
</head>

<body class="sticky-header">
    <section>
        <!-- left side start-->
            {% include "./aside.html" %}
        <!-- left side end-->
        <!-- main content start-->
        <div class="main-content">
            <!-- header section start-->
                {% include "./header.html" %}
            <!-- header section end-->
            
            <!--body wrapper start-->
            <div class="wrapper">
                {% block content %}{% endblock %}
            </div>
            <!--body wrapper end-->
            <!--footer section start-->
            <footer>
                2014 &copy; AdminEx by ThemeBucket
            </footer>
            <!--footer section end-->
        </div>
        <!-- main content end-->
    </section>
    <!-- Placed js at the end of the document so the pages load faster -->
    <script src="/static/admin/js/jquery-1.10.2.min.js"></script>
    <script src="/static/admin/js/jquery-ui-1.9.2.custom.min.js"></script>
    <script src="/static/admin/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="/static/admin/js/bootstrap.min.js"></script>
    <script src="/static/admin/js/modernizr.min.js"></script>
    <script src="/static/admin/js/jquery.nicescroll.js"></script>
    <!--easy pie chart-->
    <script src="/static/admin/js/easypiechart/jquery.easypiechart.js"></script>
    <script src="/static/admin/js/easypiechart/easypiechart-init.js"></script>
    <!--Sparkline Chart-->
    <script src="/static/admin/js/sparkline/jquery.sparkline.js"></script>
    <script src="/static/admin/js/sparkline/sparkline-init.js"></script>
    <!--icheck -->
    <script src="/static/admin/js/iCheck/jquery.icheck.js"></script>
    <script src="/static/admin/js/icheck-init.js"></script>
    
    <!--common scripts for all pages-->
    <script src="/static/admin/js/scripts.js"></script>
    {% block script %}{% endblock %}
</body>

</html>
